.stats-container {
    margin-left: 250px;
    padding: 150px 10% 20px;
}

/* STATS PLACEHOLDER SECTION */
@media (max-width: 501px) {
    .stats-placeholder {
        margin-left: 10%;
    }
}

/* STATS PAGE SECTION */
.stats-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "overview overview"
    "weekgraph labelgraph";
    row-gap: 30px;
    column-gap: 30px;
}

