.label-list-container {
    position: fixed;
    top: 25px;
    min-width: 200px;
    padding: 5px 0px 15px 0px;
    color: #b7b7b7;
    background: rgba(60, 60, 60, 0.95);
}

.label-list-container ul {
    text-decoration: none;
    padding: 0;
}

.list-div {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    cursor: pointer;
}

.list-div:hover {
    background-color: rgba(98, 98, 98, 0.95);
}

.label-list-container ul li:not(:last-child) {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    text-decoration: none;
    list-style: none;
    margin-left: 0;
    height: 35px;
}

.color-display {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    cursor: pointer;
}

.add-button-text {
    margin-left: 15px;
    padding-bottom: 2px;
}