.edit-label-container {
    border: 1px solid black;
    width: 350px;
    align-self: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.edit-label-container h3 {
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 5px;
}

.fa-xmark {
    background-color: blue;
    position: absolute; 
    right: 4px;
    top: 4px;
    width: fit-content;
}