.label-list-container {
    background-color: aqua;
}

.label-list-container ul {
    background-color: blue;
    text-decoration: none;
    padding: 0;
}

.label-list-container ul li {
    text-decoration: none;
    list-style: none;
    margin-left: 0;
}

.label-list-container i {
    margin-left: 3px;
    margin-right: 3px;
}

.color-display {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: brown;
}