.sidebar-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 250px;
    align-content: center;
    border-right: 1px solid rgba(97, 97, 97, 0.351);
}

.sidebar-nav .logo {
    height: 150px;
}

.sidebar-nav .link {
    text-decoration: none;
    color: black;
}

.sidebar-nav ul {
    margin: 0;
    font-size: 25px;
    padding: 0;
}

.sidebar-nav ul li {
    text-align: center;
    height: 40px;
}

.sidebar-nav ul li i {
    margin-right: 15px;
    color: black;
}

.sidebar-nav ul li:hover {
    background-color: rgb(205, 205, 205);

}

.sidebar-nav ul li:not(:last-child) {
    margin-bottom: 80px;
}

.disabled {
    color: green;
}