/* SIDEBAR SECTION */
.sidebar-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 250px;
    align-content: center;
    border-right: 1px solid rgba(97, 97, 97, 0.351);
    background-color: white;
    z-index: 3;
}

@media (max-width: 501px) {
    .sidebar-nav {
        width: 100%;
    }
}

/* LOGO SECTION */
.logo-container {
    display: grid;
    align-items: end;
    grid-template-columns: .6fr 2fr;
    grid-template-rows: 45px 30px;
    grid-template-areas:
        "logo title";
    margin: 50px 0 70px 10px;
}

.logo-container .logo {
    height: 70px;
    width: 70px;
    grid-area: logo;
}

.logo-title-container {
    grid-area: title;
    display: flex;
    align-items: baseline;
}

.logo-container h2 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 22px;
    margin: 0;
    color: rgb(103, 7, 7)
}

.logo-container span {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin: 0;
}

/* LINKS SECTION */
.sidebar-nav .link {
    text-decoration: none;
    color: black;
}

.sidebar-nav ul {
    margin: 0;
    font-size: 25px;
    padding: 0;
    list-style: none;
}

.sidebar-nav ul li {
    text-align: center;
    height: 40px;
}

.sidebar-nav ul li i {
    margin-right: 15px;
    color: black;
}

.functioning-nav-link:hover {
    background-color: rgb(205, 205, 205);

}

.sidebar-nav ul li:not(:last-child) {
    margin-bottom: 80px;
}

.disabled-nav-link .link {
    color: rgb(205, 205, 205);
}

.disabled-nav-link .link i {
    color: rgb(205, 205, 205);
}

/*............................................................................................................*/
/* TOP NAVBAR SECTION */
.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.top-navbar-button {
    height: 50px;
    width: 50px;
    margin-left: 1%;
    font-size: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: black;
}

.top-navbar-logo-container {
    display: grid;
    align-items: end;
    grid-template-columns: .6fr 2fr;
    grid-template-areas:
        "logo title";
    min-width: 250px;
}

@media (max-width: 450px) {
    .top-navbar-logo-container {
        display: none;
    }
}

.top-navbar-logo-container .logo {
    height: 70px;
    width: 70px;
    grid-area: logo;
}

.logo-title-container {
    grid-area: title;
    display: flex;
    align-items: baseline;
}

.top-navbar-logo-container h2 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 22px;
    margin: 0;
    color: rgb(103, 7, 7)
}

.top-navbar-logo-container span {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin: 0;
    color: black !important; 
}

