.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-left: 250px; 
    margin-top: 25px;
    margin-bottom: 30px;
}

@media (max-width: 751px) {
    .footer-container {
        margin-left: 0;
    }
}

.footer-container p {
    text-align: center;
    font-weight: 500;
}

.footer-container .social-nav {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    font-size: 25px;
    height: 40px;
    width: 200px;
}

.fab {
    color: rgb(72, 4, 4);
}