.stats-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "overview overview"
    "weekgraph labelgraph";
    row-gap: 30px;
    column-gap: 30px;
}

.stats-container {
    margin-left: 250px;
    padding: 150px 10% 20px;
}

/* OVERVIEW SECTION */
.overview-container {
    border: 1px solid;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    padding: 20px;
    color: #b7b7b7;
    grid-area: overview;
}

.overview-stats-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.time-stats {
    display: flex;
    flex-direction: column;
    background-color: rgba(60, 60, 60, 0.95);
    border: 1px solid rgb(40, 40, 40);
    align-items: center;
    border-radius: 7px;
    box-shadow: 0px 0px 20px .5px rgb(20, 20, 20);
    margin: 10px;
    padding: 20px 4px;
}

.overview-icons {
    font-size: 30px;
}

/* WEEK DAYS SECTION */
.week-stats-outer-container {
    grid-area: weekgraph;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    border: 1px solid;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    padding: 20px;
    color: #b7b7b7;
    grid-template-areas:
        "header"
        "graph";
}

.overview-header {
    grid-area: header;
    height: 45px;
    margin: 0;
}

.graph-container {
    grid-area: graph;
    min-height: 300px;
    max-width: 400px;
    display: flex;
    align-content: center;
    justify-self: center;
    justify-content: center;
    margin: 20px 0px;
}

/*LABELS CHART SECTION*/
.labels-stats-outer-container {
    grid-area: labelgraph;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    border: 1px solid;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    padding: 20px;
    color: #b7b7b7;
    grid-template-areas:
        "header"
        "graph";
}

.label-stats-header {
    grid-area: header;
    height: 45px;
    margin: 0;
}

.label-graph-container {
    grid-area: graph;
    min-height: 300px;
    max-width: 400px;
    display: flex;
    align-content: center;
    justify-self: center;
    justify-content: center;
    margin: 20px 0px;
}

/* CHARTS SECTION */

/* RESPONSIVE QUERYS */
@media (max-width: 1150px) {
    .overview-stats-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .stats-page-container {
        grid-template-columns: 1fr;
    grid-template-areas: 
    "overview"
    "weekgraph"
    "labelgraph";
    }
}

@media (max-width: 950px) {
    .overview-stats-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 751px) {
    .stats-container {
        margin-left: 0;
    }
    .overview-stats-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .stats-container {
        padding: 150px 0 20px;
    }
    .overview-stats-container {
        grid-template-columns: 1fr;
    }
    .overview-container {
        padding: 20px 5px;
    }
    .labels-stats-outer-container {
        padding: 20px 5px;
    }
    .week-stats-outer-container {
        padding: 20px 5px;
    }
}